
{% load static%}
<footer>
    <div class="row">
        <div class="footer-container">
            <!----download info-->
            <div class="download-info">
                <h5 class="download-title margin10">Download Our App</h5>
                <h5 class="download-description margin10">Download App for android and Ios Phone</h5>
                <div class="download-image-container">
                    <div class="playstore">
                        <img src="{%static 'images/play-store.png' %}" alt="" style="width : 100%">
                    </div>
                   <div class="appstore">
                        <img src="{%static 'images/app-store.png' %}" alt="" style="width : 100%">
                   </div>
                </div>
            </div>
            <!-----brand info---------->
            <div class="brand-info">
                <div class="brand-logo margin10"><span class="X">x</span>stores</div>
                <p class="brand-description download-description">our Purpose is to Substainably Make The Pleasure and 
                    Benifit of Sports Acces to the Many</p>
            </div>
            <!------usefull links-->
            <div class="useful-links">
                <h5 class="download-title margin15">Useful Links</h5>
                <li class="useful-item download-description">Coupons</li>
                <li class="useful-item download-description">Blog Post</li>
                <li class="useful-item download-description">Return Polycy</li>
                <li class="useful-item download-description">Join afliata</li>
            </div>
            <!--------social media links-------->
            <div class="social-media">
                <h5 class="download-title margin15">Follow us</h5>
                <a href="" class="social-item download-description">Facebook</a>
                <a href="" class="social-item download-description">Twitter</a>
                <a href="" class="social-item download-description">Instagram</a>
                <a href="" class="social-item download-description">YouTube</a>
            </div>
        </div>
        <hr>
        <div class="copy-right download-title">
            &#169; copyright 2023 - FOSSHACK
        </div>
    </div>
</footer>
<script src="{% static 'js/cart.js'%}"></script>
