{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'store/baselinks.html'%}
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
</head>
<body>
    <header>
        <div class="row">
            {% include 'store/navigation.html'%}
        </div>
    </header>
    <div class="row">
        <div class="register-container">
            <form method="post">
                {% csrf_token %}
                {% if messages %}
                    <div class="block">
                        {%for message in messages%}
                            <div style="width : 100%; color : green; background-color : rgba(0, 128, 0, 0.337); border-radius : 5px; padding : 8px 0px 8px 10px; margin-bottom: 5px;">
                                {{message}}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="block">
                    <h2 class="form-title">Reset Password</h2>
                </div>
                <div class="block">
                    {% if form.errors%}
                        {% for error in form.errors%}
                            <div style="width : 100%; color : red; background-color : rgba(255, 27, 27, 0.22); border-radius : 5px; padding : 8px 0px 8px 10px; margin-bottom: 5px;">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif%}
                </div>
                <div class="block">
                    <label for="password">New password</label>
                    {{form.new_password1}}
                </div>
                <div class="block">
                    <label for="password-confirm">password confirm</label>
                    {{form.new_password2}}
                </div>
                <div class="block exclusive">
                    <input type="submit" value="Submit"> 
                </div>
            </form>
        </div>
    </div>
    {% include 'store/footer.html'%}
</body>
</html>