.contacts-container{
    width : 80%;
    
}
.contacts-section{
    display : flex;
    align-items:center;
    justify-content: center;
}
.contacts-info-container{
    width : 800px;
    box-shadow: 5px 5px 5px #ccc;
    border : 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    color : white;
}
.contacts-info{
    width : 380px;
    padding : 40px 0px;
    background-color: #FC2D00;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.contacts-form-container{
    width : 420px;
}
.contact-form{
    width : 100%
}
.simple-container h2{
    margin-bottom: 10px;
}
.contacts-description{
    font-size: 14px;
    line-height: 18px;
}
.simple-container{
    width : 80%;
    margin : auto;

}
.contact-form{
    box-shadow: none;
    border-radius: none;
    border : none;
}
.contact-form .block input{
    height : 35px;
    border-radius : 5px;
}
textarea{
    padding : 10px;
    font-size:16px;
    color : #555;
    border : 1px solid #ccc;
    outline : none;
    resize: none;
}
textarea:focus{
    outline: none;
    border : 1px solid #FC2D00;
}
.contact-form label{
    font-size:18px;
    z-index: 10;
}
.simple-info-container{
    margin : 40px 0px 60px 0px;
    width : 100%;
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    gap : 40px;
    padding: 0px 20px 0px 0px;
}
.info-group{
    width : 100%;
    display : flex;
    align-items:center;
    gap: 40px;
}
.contacts-icon-container{
    display : flex;
    align-items:center;
    gap: 30px;
    font-size: 20px;
}
.contacts-icon-container i{
    cursor: pointer;
}